header{
    padding: 25px 16px;
	background: #353434;
	color: rgb(228, 33, 33);
}


.header-btn {
    text-align: right;
    margin-top: -9px;
    padding-left: 10px;
	
	a{
		color: #ffffff;
		text-decoration: none;
		margin-left: 15px;
	}
}

